{% extends 'base.html.twig' %}

{% block title %}Edit Architect{% endblock %}

{% block body %}
    <h1 class="display-1">Edit Architect</h1>

    {{ include('architect/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-lg" href="{{ path('app_architect_index') }}">Back to list ⏎</a>

    {{ include('architect/_delete_form.html.twig') }}
{% endblock %}
