{% extends 'base.html.twig' %}

{% block title %}New Architect{% endblock %}

{% block body %}
    <h1 class="display-1">Create new Architect</h1>

    {{ include('architect/_form.html.twig') }}

    <a class="btn btn-secondary btn-lg" href="{{ path('app_architect_index') }}">back to list</a>
{% endblock %}
