{% extends 'base.html.twig' %}

{% block title %}New Architect{% endblock %}

{% block body %}
    <h1>Create new Architect</h1>

    {{ include('architect/_form.html.twig') }}

    <a href="{{ path('app_architect_index') }}">back to list</a>
{% endblock %}
