{% extends 'base.html.twig' %}

{% block title %}Buildings{% endblock %}

{% block body %}

    <header><h1>Buildings</h1></header>

    <aside>
       Search : <input type="text" placeholder="name" class="form-control mb-4" id="searcher">
    </aside>

    <section id="list">
        {% for building in buildings %}
            <div>
            {{ building.name }} : {{ building.place }} ::
            <a href="/architect/{{ building.architect }}">{{ building.architectName }}</a>
            </div>
        {% else %}
            <div class="text-info">no records found</div>
        {% endfor %}
    </section>

{% endblock %}
