{% extends 'base.html.twig' %}

{% block title %}Buildings{% endblock %}

{% block body %}

    <header><h1>Buildings</h1></header>

    {% for building in buildings %}
        <div>{{ building.name }} : {{ building.place }}</div>
    {% else %}
        <div class="text-info">no records found</div>
    {% endfor %}

{% endblock %}
